.button {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background: var(--violet-900);
  color: var(--gray-0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 9px;

  &:hover {
    background: var(--violet-300);
  }
  &:disabled {
    background: linear-gradient(
      90deg,
      var(--violet-900) 0%,
      var(--violet-600) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    border: 1px solid var(--violet-600);
  }
}
