.tag__root {
  color: var(--cyan-500);
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: solid 1px var(--border-default);
  gap: 5px;
  height: 36px;
  border-radius: 100px;
  background: var(--bg-surface);
}
.tag__icon_container {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag__title {
  font-size: 14px;
  font-weight: 500;
  color: var(--cyan-500);
}
.tag__text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
}
