.game_detail_media__root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.game_detail_media__container {
  position: relative;
  width: 80px !important;
  height: 80px !important;
  border-radius: 8px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 132px !important;
    height: 132px !important;
  }
}
.game_detail_media__list {
  display: flex;
  gap: 8px;
}
.game_detail_media__image {
  object-fit: cover;
}
