.game_detail_similar__root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.game_detail_similar__cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.game_detail_similar__title {
  font-family: var(--font-orbitron), sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    var(--cyan-500) 0%,
    var(--violet-500) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
